body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.custom-navbar {
    background-color: transparent;
    /* Navbar transparente */
    border: none;
}

.navbar-nav .nav-link {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semitransparente para os links */
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* Fundo mais escuro ao passar o mouse */
}

.navbar-nav .nav-item.active .nav-link {
    background-color: rgba(0, 0, 0, 0.8);
    /* Fundo mais escuro para o item ativo */
}

.custom-btn {
    color: white;
    background-color: #09BD3F;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #07a32d;
    /* Cor mais escura no hover */
}

.custom-btn-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-btn-instagram:hover {
    background: linear-gradient(45deg, #bc1888 0%, #cc2366 25%, #dc2743 50%, #e6683c 75%, #f09433 100%);
}

.custon-btn-wpp {
    background-color: #25D366;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-btn-wpp:hover {
    background-color: #128C7E;    
}

#inicio {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* Para garantir que o conteúdo do carrossel não transborde */
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.background-clip {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.background-text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    /* Adiciona um overlay escuro */
    color: white;
    padding: 20px;
    z-index: 1;
}

.background-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.background-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.background-text .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #DCC424;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
}

.background-text .btn:hover {
    background-color: #fff;
    color: #A13724;
}

.map-content iframe {
    width: 100%; /* Faz o mapa ocupar 100% da largura do contêiner pai */
    height: 100%; /* Faz o mapa ocupar 100% da altura do contêiner pai */
    min-height: 300px; /* Define uma altura mínima */
    border-radius: 10%; /* Bordas arredondadas */
    border-width: 10px;
    border: solid;
    border-color: #DCC424;
}

/* Garante que o contêiner do mapa seja responsivo */
.map-container {
    width: 100%; 
    height: auto; 
    max-height: 500px; /* Altura máxima do mapa */
    overflow: hidden; /* Evita que o conteúdo transborde */
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais{
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
}

#contatos{
    background: linear-gradient(90deg, #DCC424, #A13724);
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}